$white: #FFFFFF;

$grey_main: #454E54;
$grey_secondary: #5D6970;
$grey_third: #CDD1D4;

$blue_main: #E7ECFF;
$blue_main_light: #F2F5FF;
$blue_secondary: #111B47;
$blue_third: #929ECC;
$blue_fourth: #505F98;
$blue_logo: #37447E;

$footer_colour: #E7ECFF;

$web_side--borders: 0 165px;
